<div class="row" class="bg-img">
    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
        <div class="align">



{{message}}
<form [formGroup]="resetPassword" *ngIf="status==false " (ngSubmit)="save()">
    <div class="form-group">    
        <label for="password">New Password :</label>
        <input type="password" formControlName="password" class="form-control" id="password">
        <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">
           New password is required
        </div>
    </div>
    <div class="form-group">    
        <input type="submit" value="submit" class="btn btn-primary">
    </div>
</form>
     </div>
     </div>
     </div>