<div class="header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> 
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" *ngIf="!isLoggedIn()">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn()">LogIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/forgotpassword" *ngIf="!isLoggedIn()" >Forgot Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/searchsp" *ngIf="isCustomer()">Search SP</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/booksp" *ngIf="isCustomer()" >Book SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mybookings" *ngIf="isCustomer()" >My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addsp" *ngIf="isOwner()" >Add SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/listsp" *ngIf="isOwner()" >List SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/listallbookings" *ngIf="isOwner()" >List All Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/myprofile" *ngIf="isLoggedIn()">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/changepassword" *ngIf="isLoggedIn()">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/logout" *ngIf="isLoggedIn()">Logout</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
