{{message}}
<form [formGroup]="changePassword" (ngSubmit)="reset()" *ngIf="status == false">
    <div class="form-group" >
        <label for="oldPassword">Old Password : </label>
        <input type="text" formControlName="oldPassword" id="oldPassword" class="form-control">
        <div *ngIf="oldPassword?.invalid && oldPassword?.touched" class="alert alert-danger">
            Enter existing password 
        </div>

        <label for="newPassword">New Password : </label>
        <input type="text" formControlName="newPassword" id="newPassword" class="form-control">
        <div *ngIf="newPassword?.invalid && newPassword?.touched" class="alert alert-danger">
            Enter New Password
        </div>

        <input type="submit" id="submit" class="btn btn-primary">
    </div>
</form>