.table{
    text-align: center;
    position:relative; 
    
}

.align{
    width: 75%;
    padding: 40px 20px;
    position: center;

}

.bg-img {

    background-image: url("b.jpg");
  /* background-color: rgb(94, 94, 211); */
    min-height: 1000px;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     position: relative; 
  }