{{message}}
<form [formGroup]="forgotPassword" *ngIf="!status" (ngSubmit)="save()">
    <div class="form-group">    
        <label for="email">Email : </label>
        <input type="email" formControlName="email" class="form-control" id="email">
        <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger">
            Please fill email
        </div>
    </div>
    <div class="form-group">    
        <input type="submit" value="submit" class="btn btn-primary">
    </div>
</form>
