
<div class="row" class="bg-img">
    <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
        <div class="align">



{{message}}
<form [formGroup]="forgotPassword" *ngIf="!status" (ngSubmit)="save()">
    <div class="form-group">    
        <label for="email">Email : </label>
        <input type="email" formControlName="email" class="form-control" id="email">
        <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger">
            Please fill email
        </div>
    </div>
    <div class="form-group">    
        <input type="submit" value="submit" class="btn btn-primary">
    </div>
</form>
</div>
</div>
</div>