<div style="color: rgb(44, 13, 220);"> Please refresh the page or click refresh button below to update the booking list</div>
<button (click)="load()">Refresh</button>
<table>
   <tr>
        <th>Swimming Pool Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Quantity</th>
   </tr>
   <tr *ngFor="let book of bookLoad">
   <td>{{book.swimmingPoolName}}</td>
   <td>{{book.date}}</td>
   <td>{{book.time}}</td>
   <td>{{book.quantity}}</td>
   <button (click)="delete(book.id)">Delete Booking</button>
   </tr>
</table>
<div style="color: red;">{{deletedMessage}}</div>