{{message}}
<form [formGroup]="login" (ngSubmit)="save()" *ngIf="status==false">
    <div class="form-group">     
        <label for="username">Username : </label>
        <input type="text"  formControlName="username" id="uername" class="form-control">
        <div *ngIf="username?.touched && username?.invalid" class="alert alert-danger">Enter your usernaem </div>
                
        <label for="password">Password : </label>
        <input type="password" formControlName="password" id="password" class="form-control">
        <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">Enter Password</div>
        <br>
        <input type="submit" id="sumbit" class="btn btn-primary">
    </div>
</form>